<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685285187180-u4cr46h9c9aots0tkg0oqn3df2hfqlaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685285187180-u4cr46h9c9aots0tkg0oqn3df2hfqlaf</string>
	<key>API_KEY</key>
	<string>AIzaSyAgBbcWCoy2D0Ohmzsxd8JjcA10os_3szs</string>
	<key>GCM_SENDER_ID</key>
	<string>685285187180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tungtt.fpg.flutterPlayground</string>
	<key>PROJECT_ID</key>
	<string>flutter-playground-7f568</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-playground-7f568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685285187180:ios:248c90bdf1d3420d290249</string>
</dict>
</plist>